---
const { icon = "auto_stories", iconColor = "text-slate-500", bgColor = "bg-slate-500/20", title = "Feature", description = "This is a very useful feature of this website" } = Astro.props;
---

<div class="bg-white rounded-xl p-8">
    <div class=`${iconColor} ${bgColor} material-symbols-outlined h-12 w-12 rounded flex justify-center items-center text-3xl mb-4`>{icon}</div>
    <h3 class="text-xl font-black">{title}</h3>
    <p class="text-slate-500 mt-2">{description}</p>
</div>
